<%= form_for(map) do |f| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :width %>
    <%= f.number_field :width %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.number_field :height %>
  </div>

  <div class="field">
    <%= f.label :shapes %>
    <%= f.text_field :shapes %>
  </div>

  <div class="field">
    <%= f.label :beacons %>
    <%= f.text_field :beacons %>
  </div>

  <div class="field">
    <%= f.label :obstacles %>
    <%= f.text_field :obstacles %>
  </div>

  <div class="field">
    <%= f.label :doors %>
    <%= f.text_field :doors %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
