
<%= stylesheet_link_tag "layout" %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

 <%= javascript_include_tag('room.js') %>
 <%= javascript_include_tag('canvas.js') %>
 <%= javascript_include_tag('tracking.js') %>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<%= render 'shared/navigation' %>

<ul class="nav nav-tabs" role="tablist">
	<li class="active"><%= link_to 'Start Tracking', {action: "index", class: 'hyperlink'}, method: :get %></li>
	<li><%= link_to "Modify Map", {action: "modify", class: 'hyperlink'}, method: :get %></li>
</ul>



<body>

	<div id="main" class="container-fluid">

		<br />

        <div class="row">

	        <div class="col-xs-6">
				<body onpageshow="main()">
					<div id="container">
				  		<canvas id="canvas" width="400" height="300" style="border: 1px solid black;">
				    		ERROR: Your browser does not support HTML5 Canvas.
				  		</canvas>
					</div>
				</body>	    
		    </div>

	        <div class="col-xs-6">
            	<img id="floor" width="400" height="300" src="">
	        </div>

        </div>

		<br />

    </div>
</body>

<br />
<br />
<br />
<br />


<footer class="container-fluid text-center">
  	<p>Auto-ID Lab, School of Computer Science, The University of Adelaide</p>
</footer>


 <!-- <p>MESSAGE: <%= @message %></p> -->

 <!-- <p>MESSAGE: <%= @userid %></p> -->


<!-- <p id="fooBar">Fields:</p> -->
<!-- <p id="bad">bad:</p> -->


